body {
  font-family: "Muli";
  color: #19345f;
  width: 100%;
}
/* Font */
@font-face {
  font-family: "Muli";
  src: url("../font/Muli.ttf");
}
@font-face {
  font-family: "Muli-Bold";
  src: url("../font/Muli-Bold.ttf");
}
@font-face {
  font-family: "Muli-ExtraLight";
  src: url("../font/Muli-ExtraLight.ttf");
}
/* End */
.container-navbar {
  width: 100%;
}
.navbar-brand > a > img {
  height: 4rem;
}
.nav-item {
  font-family: "Muli";
}
.nav-link {
  color: #19345f;
  font-family: "Muli-Bold";
}
.nav-link.actived {
  color: #f47522;
}
.nav-link:hover {
  color: #f47522;
}
.btn-altera-orange {
  color: white;
  background-color: #f47522;
  border: 1px solid #f47522;
  border-radius: 75px;
  text-decoration: none;
  font-family: "Muli-ExtraLight";
  margin-left: 3rem;
  padding: 0.6rem 3rem;
  transition: 0.5s;
}
.btn-altera-orange:hover {
  border: 1px solid #f47522;
  background-color: rgba(0, 0, 0, 0);
  color: #f47522;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .navbar-nav {
    margin-bottom: 1rem;
    width: 100%;
  }
  .navbar-collapse {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
  .container-navbar {
    padding: 0rem 2rem;
  }
  .navbar-brand > img {
    height: 3rem;
  }
}
.col {
  color: #19345f;
  font-family: "Muli";
}
